body {
  background-image: url(../images/ubu.png);
  background-repeat: no-repeat;
  background-position: 0 80px;
  font-family: museo-slab,Georgia,"Times New Roman",Times,serif; }

.container {
  max-width: 700px;
  margin-left: 0; }

.header h2 {
  color: #444;
  border-style: solid;
  border-width: 0px 0px thin 0px;
  padding: 10px;
  margin-left: 0px;
  margin-top: 0px; }

.footer {
  margin-right: 0px;
  margin-left: auto; }
  .footer img {
    margin-bottom: 5px; }

a {
  color: black; }

.decale {
  width: 480px;
  text-align: right;
  margin-left: auto; }
  .decale .aujourdhui {
    width: 400px;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white; }
  .decale .importance {
    font-size: 14px; }
  .decale .dateconvert {
    width: 400px;
    margin-left: auto;
    text-align: center; }
    .decale .dateconvert form {
      display: inline;
      font-family: "Helvetica Neue", sans-serif; }
      .decale .dateconvert form input {
        width: 150px;
        cursor: default; }
  .decale .links {
    width: 400px;
    margin-left: auto;
    text-align: center;
    text-align: left;
    margin-right: 0px;
    margin-top: 30px;
    background-color: white; }

.paper-button {
  display: inline-block;
  -webkit-transition: box-shadow 0.2s, background 0.2s;
  transition: box-shadow 0.2s, background 0.2s;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 14px 14px 12px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
  white-space: nowrap;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: inherit;
  vertical-align: middle;
  font-weight: normal; }

.form-control {
  display: inline; }
  .form-control:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none; }
