$top: 50px;
$content-width: 400px;
$border-radius: 10px;

body {
 background-image: url(../images/ubu.png);
 background-repeat:no-repeat;
 background-position: 0 80px;
 font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
}

.container {
    max-width: 700px;
    margin-left: 0;
}

.header {
    h2 {
        color:#444;
        border-style:solid;
        border-width:0px 0px thin 0px;
        padding:10px;
        margin-left:0px;
        margin-top:0px;
    }
}

.footer {
    margin-right:0px;
    margin-left:auto;

    img {
        margin-bottom: 5px;
    }
}

a {
    color:black;
}

@mixin center-right {
    width: $content-width;
    margin-left: auto;
    text-align:center;
}

$left: 300px;
.decale {
    width: 480px;
    text-align: right;
    margin-left: auto;

    .aujourdhui {
        @include center-right;
        margin-top: $top;
        margin-right: 10px;
        padding:10px;
        border-radius: $border-radius;
        background-color:white;
    }

    .saint {

    }

    .importance {
        font-size: 14px;
    }

    .dateconvert {
        @include center-right;
        form {
            display:inline;
            font-family: "Helvetica Neue", sans-serif;
            input {
                width:150px;
                cursor:default;
            }
        }
    }

    .links {
        @include center-right;
        text-align:left;
        margin-right: 0px;
        margin-top: 30px;
        background-color:white;
    }
}

$btn-transition: 0.2s; 
$btn-radius: 2px;

.paper-button { 
    display: inline-block;
    -webkit-transition: box-shadow $btn-transition, background $btn-transition;
    transition: box-shadow $btn-transition, background $btn-transition;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 14px 14px 12px;
    border-top-left-radius: $btn-radius;
    border-top-right-radius: $btn-radius;
    border-bottom-right-radius: $btn-radius;
    border-bottom-left-radius: $btn-radius;
    outline: none;
    white-space: nowrap;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: inherit;
    vertical-align: middle;
    font-weight: normal;

//    &:hover, &.active {
//        text-decoration: none;
//        background: #fff;
//        box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
//    }
}

.form-control {
    display: inline;
    &:focus {
        border-color:#ccc;
        -webkit-box-shadow: none;
        box-shadow:none;
    }
}
